a {
  color: #C2E7D9;
  font-size: 2vw;
}
P {
  font-size: 2vw;
}
li {
  font-size: 2vw;
}
a:hover {
  text-decoration: none;
  color: #4D5061;
}
h1 {
  font-size: 6vw;
  font-weight: 700;
  padding-top: 2rem;
}
h2 {
  font-size: 4vw;
  font-weight: 700;
  margin-top: 0;
}
h3 {
  font-size: 3vw;
  margin: 0;
}
.navwrap {
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.contentwrap {
  max-width: 1100px;
  margin: 0;
  padding: 60px 50px;
  overflow: auto;
}
h3 ~ p{
  margin: 0;
}
/* Header and footer
-----------------------------*/
header {
  padding-top: 50px;
  position: relative;
}
header, footer {
  background: #0D0221;
  color: #A6CFD5;
  font-family: serif;
}
header {
  text-align: center;
}
.profileimg {
  border-radius: 20%;
  max-width: 300px;
}
header h1, header h2 {
  margin: 0;
}
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
/* Navigation
-----------------------------*/
nav {
  text-align: center;
  background: #0F084B;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 2;
}
nav a {
    display: inline-block;
    width: 19%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
/* Work Exprience
-----------------------------*/
.work {
  background-image: url("../img/work.jpg");
  background-size : cover;
  background-attachment: fixed;
  color: black;
}

/* Education
-----------------------------*/
.education {
  background-image: url("../img/education.jpg");
  background-size : cover;
  background-attachment: fixed;
  color: black;
}
/* Project
-----------------------------*/
.project {
  background-image: url("../img/project.jpg");
  background-size : cover;
  background-attachment: fixed;
  color: black;
}
/* Media Queries
-----------------------------*/
@media (min-width : 900px) {
  .narrowcol {
    width: 30%;
    float: left;
    min-height: 175px;
  }
  .widecol {
    width: 65%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
  }
  h1 {
    font-size: 2.1875rem;
    padding-top: 6rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  .contentwrap {
    margin-left: 5vw;
  }
}
@media (max-width : 899px) {

  .profileimg {
    width: 150px;
  }

}
